<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <md-toolbar color="primary">
      <span>{{title}} </span>
      <a md-button uiSref="hello" uiSrefActive="active">hello</a>
      <a md-button uiSref="about" uiSrefActive="active">about</a>
      <span class="example-spacer"></span>
      <md-icon class="example-icon" (click)="sidenav.open()">menu</md-icon>
    </md-toolbar>
    <ui-view></ui-view>

    <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>
