@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  /*display: flex;*/
  height: 100%;
  /*align-items: center;
  justify-content: center;*/
}

.sidenav-content {
  padding: 20px;
}
.example-sidenav {
  background: white;
  max-width: 300px;
}
.mat-sidenav-container {
  /*do this better without important*/
  position: fixed !important;
}
.mat-sidenav-backdrop.mat-sidenav-shown {
    background-color: rgba(0,0,0,.6);
}
